%h1= @project_partial.project.Name

%h2= @project_partial.title

%table
  .container-fluid
    .table-responsive
      .table
        %thead
          %tr
            %th Id
            %th Projekt
            %th Teilprojekt
            %th Typ
            %th Format
            %th Version
            %th Show
            %th Edit
            %th Delete
        %tbody
          - @meps.each do |mep|
            %tr
              %td= mep.id
              %td= mep.project_partial.project.name
              %td= mep.project_partial.title
              %td= mep.audio_type
              %td= mep.audio_format
              %td= mep.mep_version.name
              %td= link_to 'Show', mep_path(mep)
              %td= link_to 'Edit', edit_mep_path(mep)
              %td= link_to 'Destroy', mep_path(mep), method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Mep', new_project_project_partial_mep_path