!!!
%html
  %head
    %title MEP
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body
  = yield

-#%html{"ng-app" => "myApp", "lang" => "de_DE"}
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title{"ng-bind" => "header_title"}
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Copper Api'}"}



    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body{:style => "background-color:white !important;"}
    %header
      %div
        %main{:role => "main"}
          %div{"my-loading-spinner" => "viewLoading"}
          %div.main-view-container{ "ui-view" => "", :style => "background-color: white !important;"}