-#= form_for @mep_audio, url: {action: "create"} do |form|

= form_for @mep_audio, url: {action: action_name} do |form|
  - if @mep_audio.errors.any?
    #error_explanation
      %h2
        = pluralize(@mep_audio.errors.count, "errors")
        prohibited this mep from being saved:
      %ul
        - @mep_audio.errors.full_messages.each do |msg|
          %li= msg

  %p
    = form.label :bsag_mep_version_id, "Audio Typ"
    = form.collection_select :bsag_audio_type_id, BsagAudioType.order(:id),:id,:name
  %p
    = form.label :receiving_date
    = form.date_select :receiving_date
  %p
    = form.label :bsag_mep_version_id, "Audio Version"
    = form.collection_select :bsag_mep_version_id, BsagMepVersion.order(:id),:id,:name
  %p
    = form.label :version_number, "Versionsnummer"
    = form.select :version_number, (0..9)
  %p
    = form.label :version_name_ext, "Externer Name"
    = form.text_field :version_name_ext
  %p
    = form.label :bsag_audio_format_id, "Audioformat"
    = form.collection_select :bsag_audio_format_id, BsagAudioFormat.order(:id),:id,:name
  %p
    = form.label :bsag_audio_speed_id, "Geschwindigkeit"
    = form.collection_select :bsag_audio_speed_id, BsagAudioSpeed.order(:id),:id,:speed
  %p
    = form.label :is_complete, "Vollständig"
    = form.check_box :is_complete
    = form.label :is_complete_comment, "Kommentar"
    = form.text_field :is_complete_comment
  %p
    = form.label :is_in_sync, "Synchron"
    = form.check_box :is_in_sync
    = form.label :is_in_sync_comment, "Kommentar"
    = form.text_field :is_in_sync_comment
  %p
    = form.label :dbtp_max
    = form.text_field :dbtp_max
  %p
    = form.label :lra
    = form.text_field :lra
  %p
    = form.label :lufs
    = form.text_field :lufs
  %p
    = form.label :bsag_channel_error_id, "Kanalfehler"
    = form.collection_select :bsag_channel_error_id, BsagChannelError.order(:id),:id,:name
  %p
    = form.label :bsag_mep_evaluation_id, "Bewertung"
    = form.collection_select :bsag_mep_evaluation_id, BsagMepEvaluation.order(:id),:id,:name
  %p
    = form.fields_for :audio_fault_comments do |builder|
      = render 'audio_fault_fields', f: builder
    = link_to_add_fields "Add fault comment", form, :audio_fault_comments
    -#= form.fields_for :audio_fault_comments
    -#= render 'audio_fault_comments/audio_fault_comment'
    -#, @mep_audio.audio_fault_comments
    -#= render 'audio_fault_comments/audio_fault_comment', :audio_fault_comments => @mep_audio.audio_fault_comments, form: form
  %p
    -#= render 'audio_fault_comments/form', :locals => {:controller => 'audio_fault_comments', :action => "create"}
    -#= render 'audio_fault_comments/form', f: form
    -#= render 'audio_fault_comments/form', fo: form

    -#= form.fields_for @mep_audio.audio_fault_comments.build do |fault_comment|
      = render 'audio_fault_comments/form', f: fault_comment
      -#= fault_comment.text_field :comment
  %p
    = form.button :submit, name: :create
